{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-10 col-xl-8">
            <h1>Nicolas Villetelle</h1>
            <h2>Développeur Web</h2>
            <h3>Formations</h3>
            <div id="formations"></div>
            <h3>Compétences</h3>
            <div id="skills"></div>
            <h3>Références</h3>
            <div id="references"></div>
        </div>
    </div>
{% endblock %}